<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
                <p>You are not assigned to any projects</p>

                {% for project in projects %}
                    <h2>My Projects</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{project.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
        </div>
    </main>

</body>
</html>
